POSTGRES_DB=dr_jesus_db
POSTGRES_USER=drjesus_admin
POSTGRES_PASSWORD=drjesus_senha_forte_123
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://app.drjesus.com.br
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://app.drjesus.com.br

